body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
}

.transform {
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
}

.menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(orange, orange);
    opacity: 0.9;
}


.container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("../images/Center_of_the_Milky_Way_Galaxy_IV_–_Composite.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-container {
    position: relative;
    width: 200%;
    top: 15vh;

}

.a-slider-grid-container {
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    display: grid;
    grid-gap: 5%;
    grid-template-rows: 70vh;
    grid-template-columns: 30% 30% 30% 30%;
}

.a-slider {
    overflow: hidden;
    margin-top: 10%;
    height: 80%;
    width: 100%;
    background-image: linear-gradient(white, whitesmoke);
    box-shadow:  0px 0px 10px black;
    border-radius: 30px;
    -webkit-transition:1s;
}

.a-slider.clicked {
    margin-top: 0%;
    height: 110%;
}

.a-slider.unclicked {
    margin-top: 10%;
    height: 80%;
}

.a-slider-input {
    height: 40%;
    width: 100%;
}

.a-slider-hidden {
    visibility: hidden;
}

.a-slider-text {
    text-align: justify;
    margin: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

.a-slider-button {
    display: block;
    margin: auto;
    height: 60px;
    width: 200px;
    background-image: linear-gradient(orange, #ffa067);
    border-radius: 30px;
}

.a-slider-input img {
    height: 80%;
    display: block;
    margin: auto;
    margin-top: 10%;

}

.a-slider-input a {
    font-weight: bold;
    font-size: 40px;
    display: block;
    margin-top: 5%;
    text-align: center;
}

.a-slider-button a {
    position: relative;
    top: 15px;
    text-align: center;
    color: white;
    font-size: 25px;
}